<div class="fixed-action-btn hide" id="actionBtn-add">
    <button type="submit" class="btn-floating btn-large accent waves-effect waves-light" form="addform">
    <i class="large material-icons">send</i>
  </button>
</div>

{{!-- <div class="fixed-action-btn hide " id="actionBtn-search">
    <a class="btn-floating btn-large accent waves-effect waves-light">
        <i class="large material-icons">search</i>
    </a>
</div> --}}
<div class="fixed-action-btn hide" id="actionBtn-comment">
    <a class="btn-floating btn-large accent waves-effect waves-light">
        <i class="large material-icons">message</i>
    </a>
</div>
