<section class="page-header">
	<h4 class="project-name">Graphs</h4>
</section>
<section>
	<div class="container">
		<p class="flow-text">Devices used: </p>
		{{!Nuevo selector}}
		<div class="row">
			<div id="page-graph-chips" class="col s12 ">
				{{!-- <div class="chip">
					Tag
					<i class="material-icons">close</i>
				</div> --}}
				<a id="page-graph-add" class="btn-floating accent"><i class="material-icons">add</i></a>
				{{!-- <a id="page-graph-edit" class="btn-floating primary"><i class="material-icons">edit</i></a> --}}
			</div>
		</div>
		<p class="flow-text">Graph: </p>
		<div id="graph-row" class="row">
			{{!nuevo menu de edicion}}
			<div id="page-graph-edit-menu" class="row" style="display: none;">
				<div class="col s12 m2 l2">
					<div id="graph-options-1"></div>
				</div>
				<div class="col s12 m2 l2">
					<div id="graph-options-2"></div>
				</div>
				<div class="col s12 m2 l2">
					<div id="graph-options-3"></div>
				</div>
				<div class="col s12 m2 l2">
					<div id="graph-options-4"></div>
				</div>
				<div class="col s12 m2 l2">
					<div id="graph-options-5"></div>
				</div>
			</div>
			<canvas id="chart" width="400" height="300"></canvas>

		</div>
		<div id="aqigraph-row" class="row" style="display:none">
			<div id="page-aqigraph-edit-menu" class="row" style="display: none;">
				<div class="col s12 m2 l2">
					<div id="aqigraph-options-1"></div>
				</div>
				<div class="col s12 m2 l2">
					<div id="aqigraph-options-2"></div>
				</div>
				<div class="col s12 m2 l2">
					<div id="aqigraph-options-3"></div>
				</div>
				<div class="col s12 m2 l2">
					<div id="aqigraph-options-4"></div>
				</div>
				<div class="col s12 m2 l2">
					<div id="aqigraph-options-5"></div>
				</div>
			</div>
			<canvas id="aqi-chart" width="400" height="300"></canvas>
		</div>
	</section>
