 	{{!-- BARRA DE NAVEGACION  --}}
{{>navBar}}
<!--HEADER-->

{{!-- CONTENIDO --}}
<div id="main" class="">
	{{>pageMain}}
</div>
<div id="data" class="hide">
	{{>pageData}}
</div>
<div id="graph" class="hide">
	{{>pageGraph}}
</div>
<div id="configure" class="hide">
	{{>pageConfigure}}
</div>
<div id="add" class="hide">
	{{>pageAdd}}
</div>
<div id="debugger" class="hide">
	{{>debugger}}
</div>
<div id="documentation" class="hide">
	<iframe src="https://fega.gitbooks.io/arduair-user-manual/content/" frameborder="0" style="position:fixed; top:64px; left:0px; bottom:0px; right:0px; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"></iframe>
</div>
{{>actionBtns}}
{{!-- footer --}}
{{>theFooter}}
{{>SWInstaller}}
