{{!ADVANTAGES SECTION}} 
<div class="container section hide-on-med-and-down">
{{!-- <div class="row"><h2 class="center no-mar">Por que maravillarte?</h2></div> --}}
	<div class="row no-mar">
	{{!SECCION 1}}
		<div class="col s12 m12 l1 center">
			<div class="row no-mar valign-wrapper">
				<img src="img/icons/love.png" alt=""  class="landing center responsive-img absolute">
			</div>
		</div>
		<div class="col s12 m12 l3 center">
			<div class="row no-mar">
				<h3 class="no-mar">Encuentra eso que adoras</h3>
			</div>
			<div class="row no-mar">
				<p class="secondary-text thin">Aquí encontrarás productos hechos a mano, 100% personalizables</p>
			</div>
		</div>
		
	{{!SECCION 2}}
		<div class="col s12 m12 l1 center">
			<div class="row no-mar valign-wrapper">
				<img src="img/icons/comunidad.png" alt=""  class="landing center responsive-img absolute">
			</div>
		</div>
		<div class="col s12 m12 l3 center">
			<div class="row no-mar">
				<h3 class="no-mar">Apoya una comunidad</h3>
			</div>
			<div class="row no-mar">
				<p class="secondary-text thin">De personas que aman llevar sus creaciones a tus manos</p>
			</div>
		</div>
	{{!SECCION 2}}
		<div class="col s12 m12 l1 center">
			<div class="row no-mar valign-wrapper">
				<img src="img/icons/seguridad.png" alt=""  class="landing center responsive-img absolute">
			</div>
		</div>
		<div class="col s12 m12 l3 center">
			<div class="row no-mar">
				<h3 class="no-mar">Compra con seguridad</h3>
			</div>
			<div class="row no-mar">
				<p class="secondary-text thin">Contamos con sistemas de seguridad y estándares de calidad para evitar que tengas una mala experiencia</p>
			</div>
		</div>	
	</div>
</div>