 	{{!-- BARRA DE NAVEGACION  --}}
{{>navBar}}
<!--HEADER-->

{{!-- CONTENIDO --}}
<div id="main" class="">
	{{>pageMain}}
</div>
<div id="data" class="hide">
	{{>pageData}}
</div>
<div id="graph" class="hide">
	{{>pageGraph}}
</div>
<div id="configure" class="hide">
	{{>pageConfigure}}
</div>
<div id="add" class="hide">
	{{>pageAdd}}
</div>
<div id="debugger" class="hide">
	{{>debugger}}
</div>
{{>actionBtns}}
{{!-- footer --}}
{{>theFooter}}
{{>SWInstaller}}
