* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71; }

a {
  color: #1e6bb8;
  text-decoration: none; }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .btn {
       font-size: 0.9rem; } }

@media screen and (max-width: 700px) {
  .btn {
    display: block;
    width: 100%;
    font-size: 0.9rem; }
    .btn + .btn {
      margin-top: 1rem;
      margin-left: 0; } }

.page-header {
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #2980b9, #2c3e50); }

@media screen and (min-width: 64em) {
  .page-header {
    padding: 5rem 6rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .page-header {
    padding: 3rem 4rem; } }

@media screen and (max-width: 42em) {
  .page-header {
    padding: 2rem 1rem; } }

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem; }

@media screen and (min-width: 64em) {
  .project-name {
    font-size: 3.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-name {
    font-size: 2.25rem; } }

@media screen and (max-width: 42em) {
  .project-name {
    font-size: 1.75rem; } }

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.8; }

@media screen and (min-width: 64em) {
  .project-tagline {
    font-size: 1.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-tagline {
    font-size: 1.15rem; } }

@media screen and (max-width: 42em) {
  .project-tagline {
    font-size: 1rem; } }

.footer {
  border-top: solid 1px #eff0f1; }

/*! Materialize Helpers
* By Fabian Enrique Gutierrez Angulo
**/
/*COLOR PALETTE*/
.primary{
	background-color: #2980b9 !important;
}
.primary.lighten{
	background-color: #03A9F4 !important;
}
.primary.darken{
	background-color: #2c3e50 !important;
}
.primary-text{
	color: #2c3e50 !important;
}
.accent{
	background-color: #ff1744 !important;
}
.accent-text{
	color: #ff1744 !important;
}
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label, 
input[type=email]:focus:not([readonly]) + label, 
input[type=url]:focus:not([readonly]) + label, 
input[type=time]:focus:not([readonly]) + label, 
input[type=date]:focus:not([readonly]) + label, 
input[type=datetime-local]:focus:not([readonly]) + label, 
input[type=tel]:focus:not([readonly]) + label, 
input[type=number]:focus:not([readonly]) + label, 
input[type=search]:focus:not([readonly]) + label, 
textarea.materialize-textarea:focus:not([readonly]) + label{
	color:#2980b9;
}
input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]),
textarea:focus {
    border-bottom: 1px solid #2980b9;
    box-shadow: 0 1px 0 0 #2980b9;
}
/*estatus Colors*/
.done{
	background-color: #00c853  !important;
}
.done-text{
	background-color: #2c3e50 !important;
	color: #e8f5e9 !important;
}
.error{
	background-color: #d50000  !important;
}

.error-text{
	background-color: #ffebee  !important;
	color: #d50000  !important;
}
.sync{
	background-color: #ffab00   !important;
}
/*Fixed action button animation*/
.btn-floating.btn-large i {
    line-height: 57px;
}
.fixed-action-btn{
    -webkit-transition-timing-function: ease; /* Safari and Chrome */
    transition-timing-function: ease;
   	transition: all 0.2s;
   	padding: 0px;
}
.fixed-action-btn.hide{
	padding: 0px;
	display:block !important;
	-ms-transform: scale(0,0); /* IE 9 */
    -webkit-transform: scale(0,0); /* Safari */
    transform: scale(0,0);
}
.btn-floating.done i,.btn-floating.error i,.btn-floating.sync i{
	display: none;
}
.btn-floating.done:after, .btn-floating.error:after, .btn-floating.sync:after{
	color: white;
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
	line-height: 57px;
	font-size: 1.6rem;	
}
.btn-floating.done:after{
	content:'done';
}
.btn-floating.error:after{
	content:'error';
}
.btn-floating.sync:after{
	content:'sync';
	-webkit-animation: mdi-spin 2s infinite linear;
  	animation: mdi-spin 2s infinite linear;
  	-webkit-transform-origin: 50% 50%;
 	-moz-transform-origin: 50% 50%;
 	-o-transform-origin: 50% 50%;
  	transform-origin: 50% 50%;
}
/*menu button improvements */
nav .button-collapse i{
	font-size: 2rem;
}
.nav-wrapper{
	padding-left: 16px;
	padding-right: 16px;
}
/*! Project Style
* 
*/
.waves-effect.waves-pink .waves-ripple {
      background-color: rgba(255, 28, 68, 0.65);
    }
#header{
	margin-bottom: 0px;
}
#header h1,#header h2,#header h3{
	margin-top: 0px;
	color:white;
}
#documentation-index{
	width: 270px;
}
.site-footer{
	margin-top: 0px;
}
.side-nav{
	left:0;
}
.row{
	margin-bottom: 0px;
}
#documentation-content h1{
	font-size: 2em;
}
#documentation-content h2{
	font-size: 1.8em;
}
#documentation-content h3{
	font-size: 1.6em;
}
#documentation-content h4{
	font-size: 1.4em;
}
#documentation-content h5{
	font-size: 1.2em;
}
#documentation-content p{
	font-size: 1em;
}
