<nav class="white" role="navigation">
			<div class="nav-wrapper circle ">
				<a id="logo-container" href="#" class="brand-logo primary-text">ArduAIR</a>
				<ul class="right hide-on-med-and-down">
					<li><a class="primary-text waves-effect waves-pink" href="/">Main</a></li>
					<li><a class="accent-text waves-effect waves-pink" href="/data">Data</a></li>
					<li><a class="primary-text waves-effect waves-pink" href="/documentation">documentation</a></li>
					<li><a class="primary-text waves-effect waves-pink" href="/configure">Configure</a></li>
					<li><a class="primary-text waves-effect waves-pink" href="/add">Add</a></li>
				</ul>
				<ul id="nav-mobile" class="side-nav">
					<li><a class="primary-text" href="/">Main</a></li>
					<li><a class="primary-text" href="/data">Data</a></li>
					<li><a class="primary-text" href="/documentation">documentation</a></li>
					<li><a class="primary-text" href="/configure">Configure</a></li>
					<li><a class="primary-text" href="/add">Add</a></li>
				</ul>
				<a href="#" data-activates="nav-mobile" class="button-collapse primary-text"><i class="material-icons">menu</i></a>
			</div>
		</nav>