<nav class="white" role="navigation">
			<div class="nav-wrapper circle">
				<a id="logo-container" href="#" class="brand-logo primary-text"><object  type="image/svg+xml" data="/img/arduair-logo.svg" height="50"><img height=59 src="/img/arduair-logo.png" alt="GPS tracker Logo" ></object></a>
				<ul class="right hide-on-med-and-down">
					<li><a class="primary-text waves-effect waves-pink" href="/">Main</a></li>
					<li><a class="accent-text waves-effect waves-pink" href="/data">Data</a></li>
					<li><a class="primary-text waves-effect waves-pink" href="/documentation">documentation</a></li>
					<li><a class="primary-text waves-effect waves-pink" href="/configure">Configure</a></li>
					<li><a class="primary-text waves-effect waves-pink" href="/add">Add</a></li>
				</ul>
				<ul id="nav-mobile" class="side-nav">
					<li class="waves-effect waves-pink"><a class="primary-text" href="/">Main</a></li>
					<li class="waves-effect waves-pink"><a class="primary-text" href="/data">Data</a></li>
					<li class="waves-effect waves-pink"><a class="primary-text" href="/documentation">documentation</a></li>
					<li class="waves-effect waves-pink"><a class="primary-text" href="/configure">Configure</a></li>
					<li class="waves-effect waves-pink"><a class="primary-text" href="/add">Add</a></li>
				</ul>
				<a href="#" data-activates="nav-mobile" class="button-collapse primary-text  "><i class="material-icons waves-effect waves-pink circle">menu</i></a>
			</div>
		</nav>