<nav class="white" role="navigation">
			<div class="nav-wrapper container">
				<a id="logo-container" href="#" class="brand-logo theme-color-1">ArduAIR</a>
				<ul class="right hide-on-med-and-down">
					<li><a class="primary-text" href="/">Main</a></li>
					<li><a class="accent-text" href="/data">Data</a></li>
					<li><a class="primary-text" href="/documentation">documentation</a></li>
					<li><a class="primary-text" href="/configure">Configure</a></li>
				</ul>
				<ul id="nav-mobile" class="side-nav">
					<li><a class="primary-text" href="/">Main</a></li>
					<li><a class="primary-text" href="/data">Data</a></li>
					<li><a class="primary-text" href="/documentation">documentation</a></li>
					<li><a class="primary-text" href="/configure">Configure</a></li>
				</ul>
				<a href="#" data-activates="nav-mobile" class="button-collapse theme-color-1"><i class="material-icons">menu</i></a>
			</div>
		</nav>