<section class="page-header">
	<h1 class="project-name">Add a new device</h1>
</section>
<section>
	<div class="container">
		{{! FORM FOR NEW DEVICES REGISTER}}
		<div class="row">
			<h3>device data:</h3>
		</div>
		<form action="/device" method="POST" id="addform">
			{{! DEVICE NAME AND PASSWORD }}
			<div class="row">
				{{>forms/input c="s12 m6 l6"    n="addname"     r="t" l="Device Name"}}
				{{>forms/password c="s12 m6 l6" n="addpassword" r="t" l="Device Password"}}
			</div>
			{{!DEVICE OWNER AND EMAIL}}
			<div class="row">
				{{>forms/input c="s12 m6 l6" n="addowner" r="t" l="Device Owner"}}
				{{>forms/email c="s12 m6 l6" n="addemail" r="t" l="Owner Name"}}
			</div>
			{{!DEVICE DESCRIPTION}}
			<div class="row">
				{{>forms/email c="s12 m12 l12" n="adddescription" r="t" l="Device Description"}}
			</div>
		</form>
	</div>
	<div class="divider"></div>
	<div class="container">
		<div class="row">
			<div class="col s12 m12	l12 center">
				<p>If you need a configuration file to put in your SD root, download it here:</p>
				<a href="/download/config-template" class="waves-effect waves-teal btn primary darken">download config file template</a>
			</div>
		</div>
	</div>
</section>
