<section class="page-header">
			<h1 class="project-name">Data Collection</h1>
</section>
<section>
		<div class="container">
			<div class="row">
				<div class="col s12 m12 l12"> <h3 class="primary-text">Registered Devices</h3></div>
			</div>
			{{! Device Collection section}}
			<ul class="collection" id="deviceCollection">
			   
		    </ul>
		</div>
</section>
{{! Search Modal}}
<div id="modalSearch" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a id="actionBtn-SearchClose" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>