{{!Project Page}}
<section class="page-header">
			<h1 class="project-name">ArduAIR</h1>
			<h2 class="project-tagline">Air Quality Monitor in Arduino. controlled by Android devices.</h2>
			<a href="https://github.com/fega/arduAIR" class="btn waves-effect waves-pink">View on GitHub</a>
			<a href="https://github.com/fega/arduAIR/zipball/master" class="btn waves-effect waves-pink">Download .zip</a>
			<a href="https://github.com/fega/arduAIR/tarball/master" class="btn waves-effect waves-pink">Download .tar.gz</a>
</section>
<section>
	<h3 class="center">Welcome to the ArduAIR project</h3>
	<p class="center flow-text">A easy use Air Quality Monitor<br>(work in progress).</p>
</section>