<section class="page-header">
			<h1 class="project-name">Configure</h1>
</section>
<section>
<div class="container">
	<h3 class="primary-text">Configure your unit</h3>

	<p class="flow-text ">Simple, Quick, without problems</p>
	</div>
</section>