<section class="page-header">
			<h4 class="project-name">Graphs</h4>
</section>
<section>
<div class="container">
<p class="flow-text">Devices used: </p>
{{!Mobile Data selector}}
<div class="row">
	<div class="col s12 m2 l2">
		<div class="btn emptyGraphData waves-effect waves-light">add</div>
	</div>
	<div class="col s12 m2 l2">
		<div class="btn emptyGraphData waves-effect waves-light">add</div>
	</div>
	<div class="col s12 m2 l2">
		<div class="btn emptyGraphData waves-effect waves-light">add</div>
	</div>
	<div class="col s12 m2 l2">
		<div class="btn emptyGraphData waves-effect waves-light">add</div>
	</div>
	<div class="col s12 m2 l2">
		<div class="btn emptyGraphData waves-effect waves-light">add</div>
	</div>
	<div class="col s12 m2 l2">
		
	</div>
</div>
{{!graph}}
<p class="flow-text">Graph: </p>
<div id="graph-row" class="row">
	<canvas id="chart" width="400" height="200"></canvas>
</div>
{{!graph options}}
<div class="row">
	
</div>

</section>