{{!Device configuration partial}}
{{!Device configuration Header}}
<section class="page-header">
			<h1 class="project-name">Configure Device</h1>
</section>
{{!Device to configurate selection form}}
<section>
	<form action="/config" method="POST" id="config-search-form">
		<div class="container">
		<h3>Search Device:</h3>
 		<p class="flow-text">Please search the device to configure</p>
		{{!First Row: device name and Password}}
			<div class="row">
				{{>forms/input c="s12 m6 l6" n="name" 		   id="config-deviceName"     r="t" l="Device Name"}}
				{{>forms/password c="s12 m6 l6" n="password" id="config-devicePassword" r="t" l="Device Password"}}
	 		</div>
		</div>
		{{!submit form button}}
		<div class="row">
			<div class="col s12 m12	l12 center">
				<input id="config-search-btn" type="submit" value="Search device" class=" waves-teal btn-large primary darken" form="config-search-form">
			</div>
		</div>
	</form>
</section>
<br>
<div id="config-device-founded" style="display: none;">
	{{!this tag, is a wrapper to hide all the configuration form before the user search the device}}
	<div class="divider"></div>
	{{!Device sampling configuration form}}
	<section>
	 	<div class="container">
	 		<h3>Sampling configuration:</h3>
	 		<p class="flow-text">Use this form to change the sampling options</p>
	 		 <form action="/api/demotest1/demodemo/config" method="post"id="config-device-founded-form"> {{!--TODO: implement action change --}}
				<div class="row">
					<h4>Network</h4>
					{{>forms/input c="s12 m6 l6" n="network" 		 id="config-network"     r="t" l="Network"}}
					{{>forms/input c="s12 m6 l6" n="networkpass" id="config-networkpass" r="t" l="Network pass"}}
				</div>
				<div class="row">
					<h4>Server and connectivitiy</h4>
					{{>forms/input c="s12 m12 l6" n="server" id="config-server" r="t" l="Server"}}
					{{>forms/checkbox-row c="col m6 l6" n="wifi" id="config-wifi" l="Enable wifi"}}
				</div>
				<div class="row">
					<h4>Calibration</h4>
					<div class="col s12">CO2</div>
					{{>forms/input c="s6 m4 l2" n="co_x2" id="config-co_x2" l="co_x2"}}
					{{>forms/input c="s6 m4 l2" n="co_x1" id="config-co_x1" l="co_x1"}}
					{{>forms/input c="s6 m4 l2" n="co_b" id="config-co_b" l="co_b"}}
					<div class="col s12">O3</div>
					{{>forms/input c="s6 m4 l2" n="o3_x2" id="config-o3_x2" l="o3_x2"}}
					{{>forms/input c="s6 m4 l2" n="o3_x1" id="config-o3_x1" l="o3_x1"}}
					{{>forms/input c="s6 m4 l2" n="o3_b"  id="config-o3_b"  l="o3_b"}}
					<div class="col s12">SO2</div>
					{{>forms/input c="s6 m4 l2" n="so2_x2" id="config-so2_x2" l="so2_x2"}}
					{{>forms/input c="s6 m4 l2" n="so2_x1" id="config-so2_x1" l="so2_x1"}}
					{{>forms/input c="s6 m4 l2" n="so2_b"  id="config-so2_b"  l="so2_b"}}
					<div class="col s12">NO2</div>
					{{>forms/input c="s6 m4 l2" n="no2_x2" id="config-no2_x2" l="no2_x2"}}
					{{>forms/input c="s6 m4 l2" n="no2_x1" id="config-no2_x1" l="no2_x1"}}
					{{>forms/input c="s6 m4 l2" n="no2_b"  id="config-no2_b"  l="no2_b"}}
					<div class="col s12">CO2</div>
					{{>forms/input c="s6 m4 l2" n="pm10_x2" id="config-pm10_x2" l="pm10_x2"}}
					{{>forms/input c="s6 m4 l2" n="pm10_x1" id="config-pm10_x1" l="pm10_x1"}}
					{{>forms/input c="s6 m4 l2" n="pm10_b"  id="config-pm10_b"  l="pm10_b"}}
					<div class="col s12">CO2</div>
					{{>forms/input c="s6 m4 l2" n="pm25_x2" id="config-pm25_x2" l="pm25_x2"}}
					{{>forms/input c="s6 m4 l2" n="pm25_x1" id="config-pm25_x1" l="pm25_x1"}}
					{{>forms/input c="s6 m4 l2" n="pm25_b"  id="config-pm25_b"  l="pm25_b"}}
					<div class="row">
					<div class="col s12 center">
						<input id="config-search-btn" type="submit" value="Send configuration" class=" waves-teal btn-large primary darken center">
					</div>
				</div>

				</div>
				{{!--TODO change this button--}}
	 		</form>
	 	</div>
	</section>
</div>
