<section class="page-header">
			<h4 class="project-name">Graphs</h4>
</section>
<section>
<div class="container">
{{!Mobile Data selector}}
<div class="row">
	<div class="col s12 m2 l2">
		<div class="emptyGraphData"></div>
	</div>
	<div class="col s12 m2 l2">
		
	</div>
	<div class="col s12 m2 l2">
		
	</div>
	<div class="col s12 m2 l2">
		
	</div>
	<div class="col s12 m2 l2">
		
	</div>
	<div class="col s12 m2 l2">
		
	</div>
</div>
{{!graph}}
<div class="row">
	
</div>
{{!graph options}}
<div class="row">
	
</div>

</section>