{{!Footer Partial}}
<footer class="hide-on-small-only">
	<div class="container">
			<p class="primary-text"><a href="https://github.com/fega/arduAIR">Arduair</a> is maintained by <a href="https://github.com/fega">fega</a>, and financing by <a href="http://www.upb.edu.co">Universidad Pontificia Bolivariana</a></p>
	</div>
</footer>
