<div id="newsletter" class="row">
<div class="col s12">
	<p class="center">Suscríbete a nuestro boletín y encuentra los objetos únicos de Maravillarte</p>
</div>
<div class="col s12 align-right center">
	<input name="" type="email" class="validate" id="newsletter-input" placeholder=" Tú email">
	<a href="" class="btn accent white-text waves-effect waves-light" id="newsletter-btn">Suscríbete</a>
</div>
</div>